
@font-face {
  font-family: "Archangelsk";
  src: url('../fonts/Archangelsk.woff2') format("woff2"),
    url('../fonts/Archangelsk.woff') format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoBold.woff2') format("woff2"),
    url('../fonts/RobotoBold.woff') format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoLight.woff2') format("woff2"),
    url('../fonts/RobotoLight.woff') format("woff");
  font-weight: lighter;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoRegular.woff2') format("woff2"),
    url('../fonts/RobotoRegular.woff') format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "";
  src: url('../fonts/.woff2') format("woff2"),
    url('../fonts/.woff') format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --yellow: #f8f200;
  --blue: #52bedc;
  --gray: #777;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

section:not(:first-child) {
  padding-top: 70px;
  padding-bottom: 70px;
}

.title {
  margin-bottom: 25px;
  font-family: Archangelsk;
  font-weight: normal;
  font-size: 62px;
  line-height: 63px;
}

.desc {
  font-size: 18px;
  line-height: 34px;
}

.btn {
  padding: 19px 50px;
}

.highlighted {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: var(--blue);
}

.corner-block {
  overflow: hidden;
  clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social__link--youtube { background-image: url('../img/youtube.svg');}
.social__link--vk { background-image: url('../img/vk.svg');}
.social__link--fb { background-image: url('../img/facebook.svg');}
.social__link--twitter { background-image: url('../img/twitter.svg');}
.social__link--twitch { background-image: url('../img/twitch.svg');}
.social__link--instagram { background-image: url('../img/instagram.svg');}

.hero {
  position: relative;
  height: 1000px;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__slider .slide {
  width: 100%;
  height: 100%;
}

.hero__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-info {
  position: relative;
  z-index: 5;
  padding: 70px;
  max-width: 624px;
  height: 369px;
  background: var(--yellow);
}

.hero-info__title {
  font-family: 'Archangelsk';
}

.hero-info__btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: var(--yellow);
  background: var(--black);
}

.about__desc {
  margin-bottom: 60px;
  max-width: 952px;
  color: var(--gray);
}

.about__images {
  display: flex;
}

.about__left {
  margin-right: 32px;
  min-width: 460px;
}

.about__image {
  clip-path: polygon(11% 0, 100% 0, 100% 74%, 88% 100%, 0 100%, 0 24%);
}

.about__image:not(:last-child) {
  margin-bottom: 27px;
}

.about__image--big {
  clip-path: polygon(6% 0, 100% 0, 100% 87%, 93% 100%, 0 100%, 0 11%);
  width: calc(100% - 460px);
}

.game {
  position: relative;
  background: var(--black);
}

.game::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-image: url('../img/raster.png');
  background-repeat: repeat-x;
}

.game__title {}

.game__desc {}

.game__content {}

.game__form {}

.form__input {}
