
@font-face {
  font-family: "Archangelsk";
  src: url('../fonts/Archangelsk.woff2') format("woff2"),
    url('../fonts/Archangelsk.woff') format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoBold.woff2') format("woff2"),
    url('../fonts/RobotoBold.woff') format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoLight.woff2') format("woff2"),
    url('../fonts/RobotoLight.woff') format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/RobotoRegular.woff2') format("woff2"),
    url('../fonts/RobotoRegular.woff') format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "";
  src: url('../fonts/.woff2') format("woff2"),
    url('../fonts/.woff') format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --yellow: #f8f200;
  --blue: #52bedc;
  --gray: #777;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

.title {
  margin-bottom: 25px;
  font-family: Archangelsk;
  font-weight: normal;
  font-size: 62px;
  line-height: 63px;
}

.desc {
  font-size: 18px;
  line-height: 34px;
}

.btn {
  padding: 19px 50px;
}

.highlighted {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: var(--blue);
}

.corner-block {
  overflow: hidden;
  clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social__link--youtube { background-image: url('../img/youtube.svg');}
.social__link--vk { background-image: url('../img/vk.svg');}
.social__link--fb { background-image: url('../img/facebook.svg');}
.social__link--twitter { background-image: url('../img/twitter.svg');}
.social__link--twitch { background-image: url('../img/twitch.svg');}
.social__link--instagram { background-image: url('../img/instagram.svg');}

.hero {
  position: relative;
  height: 1000px;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__slider .slide {
  width: 100%;
  height: 100%;
}

.hero__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-info {
  position: relative;
  z-index: 5;
  padding: 70px;
  max-width: 624px;
  height: 369px;
  background: var(--yellow);
}

.hero-info__title {
  font-family: 'Archangelsk';
}

.hero-info__btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: var(--yellow);
  background: var(--black);
}

.about {
  padding: 70px 0;
}

.about__desc {
  margin-bottom: 60px;
  max-width: 952px;
  color: var(--gray);
}

.about__images {
  display: flex;
}

.about__left {
  margin-right: 32px;
  min-width: 460px;
}

.about__image {
  clip-path: polygon(11% 0, 100% 0, 100% 74%, 88% 100%, 0 100%, 0 24%);
}

.about__image:not(:last-child) {
  margin-bottom: 27px;
}

.about__image--big {
  clip-path: polygon(6% 0, 100% 0, 100% 87%, 93% 100%, 0 100%, 0 11%);
  width: calc(100% - 460px);
}

.game {
  padding-top: 80px;
  position: relative;
  padding-bottom: 139px;
  background: var(--black);
}

.game::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-image: url('../img/raster.png');
  background-repeat: repeat-x;
}

.game::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: url('../img/rast2.png');
  background-repeat: repeat-x;
}

.game-title__wrap {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
}

.game__title {
  padding-left: 32px;
  margin-bottom: 14px;
  color: var(--white);
}

.game__action {
  display: inline-block;
  width: 132px;
  height: 132px;
  background-image: url('../img/action.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}


.game__desc {
  margin-bottom: 47px;
  max-width: 952px;
  color: var(--white);
}

.game__content {
  display: flex;
  justify-content: space-between;
}

.game__form {
  padding-top: 73px;
  max-width: 480px;
}

.form__input {
  margin-bottom: 35px;
  padding-bottom: 13px;
  display: block;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid var(--gray);
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  background: transparent;
  color: var(--white);
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.form__btn {
  margin-bottom: 12px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  background: var(--yellow);
  color: var(--black);
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding: 40px 115px;
  width: 100%;
  text-align: center;
  border: 1px dashed var(--gray);
}

.form-label__file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-label__text {
  padding-left: 2px;
  display: block;
  margin-bottom: 3px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: var(--white);
}

.form-label__images {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
}

.form__checkbox {
  display: block;
}

.checkbox__visual {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white)
}

.checkbox__visual::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--yellow);
  opacity: 0;
  transform: translate(-50%, -50%);
}

.checkbox__input:checked ~ .checkbox__visual::before {
  opacity: 1;
}

.checkbox__text {
  padding-left: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
}

.hp {
  padding-top: 70px;
  padding-bottom: 63px;
  background: var(--yellow);
}

.hp__container {
  display: flex;
}

.hp__left {
  width: calc(50% - 32px);
  margin-right: 48px;
}

.hp__right {
  width: calc(50% - 32px);
}

.hp__logos {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp__logo:not(:last-child) {
  margin-right: 30px;
}

.logos-separater {
  margin-right: 30px;
  position: relative;
  width: 90px;
  height: 20px;
}

.logos-separater::before,
.logos-separater::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--black);
}

.logos-separater::before {
  transform: translate(-4px, 6px) rotate(12deg);
}

.logos-separater::after {
  transform: translate(-4px, 6px) rotate(-12deg);
}

.hp__desc {
  margin-bottom: 23px;
}

.hp__list {
  margin-bottom: 40px;
}

.hp__item {
  padding-left: 44px;
  height: 30px;
  background-position: left center;
  background-size: 32px 30px;
}

.hp__item:not(:last-child) {
  margin-bottom: 15px;
}

.hp__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--yellow);
  background: var(--black);
}

.buy {
  position: relative;
  background: var(--black);
}

.buy__container {
  display: flex;
  justify-content: flex-end;
}

.buy__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 49%;
  height: 100%;
}

.buy__content {
  margin-left: -15px;
  padding: 70px 46px;
  padding-left: 670px;
}

.buy__title {
  margin-bottom: 25px;
  color: var(--white);
}

.buy__subtitle {
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--blue);
}

.buy__list {
  margin-bottom: 75px;
}

.buy__item {
  padding-left: 43px;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  background-position: left center;
  background-size: 32px 30px;
}

.buy__item:not(:last-child) {
  margin-bottom: 25px;
}


.platforms__list {
  max-width: 319px;
  display: flex;
  flex-wrap: wrap;
}

.platforms__item:nth-child(2n+1) {
  margin-right: 80px;
}

.platforms__item:nth-child(4n+1) {
  margin-bottom: 43px;
}

.footer__top {
  padding: 13px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: inline-block;
}

.footer__right .footer__link {
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
}

.footer__left .footer__link:not(:last-child),
.footer__right .footer__link:not(:last-child) {
  margin-right: 32px;
}

.footer__bottom {
  padding: 5px 0;
  text-align: center;
  background: var(--black);
}

.copyright {
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
}


@media (max-width: 1200px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }

  .about__title {
    max-width: 620px;
  }

  .about__desc {
    margin-bottom: 58px;
    max-width: 768px;
  }

  .about__images {
    flex-direction: column;
  }

  .about__left {
    margin: 0;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
  }

  .about__image:not(:last-child) {
    margin-bottom: 0;
  }

  .about__image--big {
    width: 100%;
    clip-path: polygon(5% 0, 100% 0, 100% 87%, 94% 100%, 0 100%, 0 11%);
  }

  .game__action {
    margin-bottom: 16px;
  }

  .game-title__wrap {
    max-width: 460px;
    flex-direction: column;
    align-items: flex-start;
  }

  .game__title {
    margin-bottom: 0;
    padding-left: 0;
  }

  .game__desc {
    margin-bottom: 14px;
    max-width: 460px;
  }

  .game__form {
    width: 460px;
  }

  .game__image {
    position: absolute;
    right: 36px;
    top: 160px;
  }

  .form-label {
    margin-bottom: 29px;
    padding: 50px 115px;
  }

  .form-label__images {
    display: none;
  }

  .form__btn {
    margin-bottom: 13px;
  }

  .checkbox__text {
    padding-left: 2px;
  }

  .hp {
    padding-bottom: 70px;
  }

  .hp__left {
    padding-top: 40px;
    width: calc(50% - 16px);
    margin-right: 32px;
  }

  .hp__right {
    width: calc(50% - 15px);
  }

  .hp__logos {
    margin-top: 20px;
    flex-direction: column;
  }

  .hp__logo:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .logos-separater {
    margin: 0;
    margin-bottom: 21px;
  }

  .hp__desc {
    width: 100%;
    margin-bottom: 19px;
  }

  .logos-separater::before, .logos-separater::after {
    left: -5px;
  }

  .hp__list {
    margin-bottom: 35px;
  }

  .hp__item {
    font-size: 18px;
  }

  .hp__item:not(:last-child) {
    margin-bottom: 17px;
  }

  .buy__image {
    width: 32.4%;
  }

  .buy__content {
    padding-left: 36%;
  }

  .footer__top {
    padding: 10px 0;
  }

  .footer__bottom {
    padding: 10px 0;
  }

  .footer__left .footer__link:not(:last-child),
  .footer__right .footer__link:not(:last-child) {
    margin-right: 29px;
  }
}

@media (max-width: 576px) {

  .title {
    font-size: 30px;
    line-height: 31px;
  }

  .btn {
    padding: 10px 50px;
  }

  .desc {
    font-size: 16px;
    line-height: 32px;
  }

  .highlighted {
    font-size: 16px;
    line-height: 32px;
  }

  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header__container {
    padding-top: 20px;
  }

  .header__logo {
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
  }

  .social__item:not(:last-child) {
    margin-right: 30px;
  }

  .social__link {
    width: 25px;
    height: 25px;
  }

  .hero {
    height: 763px;
  }

  .hero-info__btn {
    font-size: 20px;
    line-height: 40px;
  }

  .header__container {
    flex-direction: column;
  }

  .corner-block {
    clip-path: polygon(15% 0, 100% 0, 100% 77%, 85% 100%, 0 100%, 0 23%);
  }

  .hero-info {
    padding: 30px 35px;
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 2 * 12px);
    height: 207px;
  }

  .hero-info__title {
    text-align: center;
  }

  .about__left {
    flex-direction: column;
    min-width: 100%;
    width: 100%;
  }

  .about__images {
    width: calc(100% + 2 * 12px);
    margin-left: -12px;
    margin-right: -12px;
  }

  .about__image:not(:last-child) {
    margin-bottom: 28px;
  }

  .about__image {
    width: 100%;
    clip-path: polygon(16% 0, 100% 0, 100% 74%, 83% 100%, 0 100%, 0 25%);
  }

  .about__image--big {
    clip-path: polygon(16% 0, 100% 0, 100% 87%, 83% 100%, 0 100%, 0 12%);
  }

  .game__action {
    width: 62px;
    height: 62px;
    margin-bottom: 135px;
  }

  .game__image {
    right: 12px;
    top: 120px;
  }

  .game__form {
    padding-top: 44px;
    width: 100%;
  }

  .form__input {
    font-size: 16px;
    line-height: 19px;
  }

  .form-label {
    margin-bottom: 36px;
    padding: 46px 40px;
  }

  .form__btn {
    padding: 20px 46px;
    margin-bottom: 11px;
  }

  .hp__container {
    flex-direction: column;
  }

  .hp__left,
  .hp__right {
    margin: 0;
    width: 100%;
  }

  .hp__left {
    padding-top: 0;
  }

  .hp__logos {
    flex-direction: row;
  }

  .footer__container {
    flex-direction: column;
  }

}
